body {
    margin: 0;
    font-family: monospace;
    font-size: 1rem;
    background-color: rgba(90, 76, 108, 0.873);
}

* {
    box-sizing: border-box;
}

.weather__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather__nav-bar {
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.733);
    padding: 0.8rem;
    border-radius: 15px;
    box-shadow: 0px 0.5px 5px 1px;
}

.form {
    display: flex;
    gap: 0.8rem;
}

.form__location input {
    font-size: 1rem;
    padding: 5px;

    border: none;
    outline: none;
    background-color: transparent;

    border-bottom: 1px solid black;
    color: black;
}

.form__location input:active {
    background-color: transparent;
}

.form button {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
}

.form__location label {
    font-size: 1rem;
}

/** --------------------------------------------DINAMIC CSS*/
@font-face {
    font-family: Bitcount;
    src: url("/public/utils/Bitcount_Prop_Single/static/BitcountPropSingle-Regular.ttf");
}

.weather__display {
    margin-top: 1rem;
    display: grid;
    grid-template-areas: 
    "temp temp temp"
    " . img . "
    " min place max"
    ;

    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 1.5rem;

    justify-items: center;
}

.temperature {
    position: relative;
    left: 10px;
    grid-area: temp;
    font-family: Bitcount;
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.image {
    grid-area: img;
    max-width: 150px;
}

.place {
    grid-area: place;
    font-family: Bitcount;
    font-size: 2.5rem;
    margin: 0;
    align-self: end;
    text-align: center;
}

.min {
    grid-area: min;
    font-family: Bitcount;
    font-weight: 100;
    margin: 0;
    font-size: 2rem;
}

.max {
    grid-area: max;
    font-family: Bitcount;
    font-weight: 100;
    margin: 0;
    font-size: 2rem;
}